{{template "base/head" .}}
<br><br>
<div class="container">
  <div class="ui two column centered grid">
   <div class="column">
	<div class="ui icon message {{.message_categorie}}">
	  <i class="{{.message_icon}} icon"></i>
	  <div class="content">
	    <div class="header">
	      {{.message_header}}
	    </div>
	    <p>{{.message_text}}</p>
	  </div>
	</div>
   </div>
  </div>
</div>
{{if .message_redirect}}<script>window.setTimeout("window.location.href='{{.message_redirect}}'",5000)</script>{{end}}
{{template "base/footer" .}}
