.container {
    width: 1024px;
    margin: 0px auto;
}
body {
	padding-top: 42px;
}
body>header img {
    height: 28px;
    margin: -6px 4px;
}

body>header.menu .title b {
	font-size: 1.2em;
}

body>header.menu .item {
    height: 40px;
}

body>header.menu .dropdown.item a {
    color: #FFF;
}

.card .small.delete-button{
    padding: 3px;
    font-size: 65%;
    margin-top: 4px;
}
.card .small.delete-button>.text{
  display : none;
}
.card .small.delete-button:hover>.text{
  display : inline-block;
}

.form .field.success,.form  .field.success>label,.form .field.success .icon{
  color : #5BBD72;
}

.form .field.success input{
  border-color : #5BBD72;
  background-color : rgba(91,189,114,0.1);
}

.form .field.warning, .form .field.warning > label, .form .field.warning .icon {
    color: #EEA236;
}

.form .field.warning input{
  border-color : #EEA236;
  background-color : rgba(191,169,114,0.1);
}
/*
#admin-users .ui.card  {
    width: 180px;
}
*/
table .right.aligned.collapsing .small{
    padding: 4px;
    font-size: 75%;
    margin-top: -2px;
}
/* Add icons */

i.icon.router:before {
  content: "\f0a0"; /* Disk Outline */
}

i.icon.switch:before {
  content: "\f0e8"; /* Sitemap */
}

i.icon.computer:before {
  content: "\f109"; /* Laptop */
}

i.icon.wlan:before {
  content: "\f1eb"; /* Wifi */
}

i.icon.endpoint:before {
  content: "\f111"; /* Circle */
}

i.icon.firewall:before {
  content: "\f132"; /* Protect */
}

i.icon.others:before {
  content: "\f1b2""; /* Cube */
}

a.equipement > i.icon{
  color : rgba(0, 0, 0, 0.8);
}
