.container {
    width: 1024px;
    margin: 0px auto;
}
body {
	padding-top: 42px;
}
body>header img {
    height: 28px;
    margin: -6px 4px;
}

body>header.menu .title b {
	font-size: 1.2em;
}

body>header.menu .item {
    height: 40px;
}

body>header.menu .dropdown.item a {
    color: #FFF;
}

.card .small.delete-button{
    padding: 3px;
    font-size: 65%;
    margin-top: 4px;
}
.card .small.delete-button>.text{
  display : none;
}
.card .small.delete-button:hover>.text{
  display : inline-block;
}
/*
#admin-users .ui.card  {
    width: 180px;
}
*/
