{{template "base/head" .}}
<br><br>
<div class="container" id="admin-users">
<div class="ui grid">
    <div class="four wide column">
		{{template "admin/menu" .}}
	</div>
    <div class="twelve wide column">	
<div class="ui raised segment">
		<h3>Add user :</h3>
</div>
	 </div>
  </div>
</div>
{{template "base/footer" .}}