{{template "base/head" .}}
<br><br>
<div class="container" id="admin-users">
<div class="ui grid">
    <div class="four wide column">
		{{template "admin/menu" .}}
	</div>
    <div class="twelve wide column">
<h3 class="ui top raised attached header">
  Equipements
  <a class="ui green button compact right floated" href="/admin/equipement/add" style="margin-top: -3px;"><i class="cube icon"></i>Add one</a>
  <div class="ui searchable right floated dropdown labeled icon button green compact" style="margin-top: -3px;font-size: 1rem;">
    <i class="cubes icon"></i>
    <span class="text">Add multiples</span>
    <div class="menu">
      <div class="header">
        Choose one method
      </div>
      <a class="item" href="/admin/equipement/add_multiples?by=ip_range">
        <i class="search icon"></i>
        By IP Range
      </a>
      <a class="item">
        <i class="database icon" href="/admin/equipement/add_multiples?by=dns_subdomain"></i>
        By DNS sub-domain
      </a>
    </div>
  </div>
  <script>$('.ui.dropdown').dropdown({action:"hide"});</script>
</h3>
<div class="ui raised attached segment">
        <table class="ui celled striped table">
          <thead>
            <tr>
                <th>Hostname</th>
                <th>IP</th>
                <!--<th>Data</th>-->
                <th>Created</th>
                <th>Updated</th>
                <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {{range .Equipements}}
            <tr>
                <td class="collapsing">
                  <a href="/equipement/{{.ID}}" class="equipement">
                    <i class="{{.GetTypeIcon}} icon"></i> {{.Hostname}}
                  </a>
                </td>
                <td>{{.IP}}</td>
                <!--<td>{.Data}</td>-->
                <td class="right aligned collapsing">{{.Created.Format "2006-01-02 15:04"}}</td>
                <td class="right aligned collapsing">{{.UpdatedFormated}}</td>
                <td class="right aligned collapsing">
                    <a class="ui icon button small" onclick="refresh(this,'{{.IP}}')">
                        <i class="refresh icon"></i>
                    </a>
                    <a class="ui icon button red small delete-button" href="/admin/equipement/{{.ID}}/del">
                        <i class="delete icon"></i>
                    </a>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
<script>
  function refresh(el,iporhost){
    $(el).addClass("loading")
    $.get("/api/network/ping",iporhost,function(){
      window.location.reload();
    })
  }
</script>
</div>
	 </div>
  </div>
</div>
{{template "base/footer" .}}
