		<div class="ui vertical fluid menu pointing">
		  <a class="{{if .admin_dashboard}}active teal{{end}} item" href="/admin">
		    Base
		  </a>
		  <a class="{{if .admin_users}}active teal{{end}} item" href="/admin/users">
		    Users
		    <div class="ui label">{{ .users_count }}</div>
		  </a>
		  <a class="{{if .admin_equipements}}active teal{{end}} item" href="/admin/equipements">
		    Equipements
		    <div class="ui label">X</div>
		  </a>
		</div>