		<div class="ui vertical fluid menu pointing">
			<div class="header item">
				Admin Panel
			</div>
		  <a class="{{if .admin_dashboard}}active teal{{end}} item" href="/admin">
		    Dashboard
		  </a>
		  <a class="{{if .admin_users}}active teal{{end}} item" href="/admin/users">
		    Users
		    <div class="ui label">{{ .users_count }}</div>
		  </a>
		  <a class="{{if .admin_equipements}}active teal{{end}} item" href="/admin/equipements">
		    Equipements
		    <div class="ui label">{{.equipements_count}}</div>
		  </a>
		  <a class="{{if .admin_logs}}active teal{{end}} item" href="/admin/logs">
		    Logs
		    <div class="ui label">X</div>
		  </a>
		</div>
