{{template "base/head" .}}
<br><br>
<div class="container">
<div class="ui grid">
    <div class="four wide column">
		{{template "admin/menu" .}}
	</div>
    <div class="twelve wide column"> Users </div>
  </div>
</div>
{{template "base/footer" .}}